# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.WPF.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\Programozasi_kornyezetek\WPF\.idea\.idea.WPF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
